@using Oranges_ASPNet.Models.ViewModel
@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<section class="section-grey">
    <div class="row mt-3">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Register new account</h1>
        </p>
        <hr/>

        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Sorry!</b> - @TempData["Error"] </span>
            </div>
        }
        <div class="p-3"></div>
        <div class="row">
            <div class="col-md-12">

                <form asp-action="Register">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col">
                            <div class="form-floating mb-4">
                                <input asp-for="FirstName" class="form-control" placeholder="@Html.DisplayNameFor(model => model.FirstName)" />
                                <label asp-for="FirstName"></label>
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-4">
                                <input asp-for="LastName" class="form-control" placeholder="@Html.DisplayNameFor(model => model.LastName)" />
                                <label asp-for="LastName"></label>
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-4">
                                <input asp-for="PhoneNumber" class="form-control" placeholder="@Html.DisplayNameFor(model => model.PhoneNumber)" />
                                <label asp-for="PhoneNumber"></label>
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-4">
                                <input asp-for="EmailAddress" class="form-control" placeholder="@Html.DisplayNameFor(model => model.EmailAddress)" />
                                <label asp-for="EmailAddress"></label>
                                <span asp-validation-for="EmailAddress" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-4">
                                <input asp-for="EmailAddress" class="form-control" placeholder="@Html.DisplayNameFor(model => model.EmailAddress)" />
                                <label asp-for="EmailAddress"></label>
                                <span asp-validation-for="EmailAddress" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating mb-4">
                                <input asp-for="Street" class="form-control" placeholder="@Html.DisplayNameFor(model => model.Street)" />
                                <label asp-for="Street"></label>
                                <span asp-validation-for="Street" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-4">
                                <input asp-for="Zip" class="form-control" placeholder="@Html.DisplayNameFor(model => model.Zip)" />
                                <label asp-for="Zip"></label>
                                <span asp-validation-for="Zip" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-4">
                                <input asp-for="City" class="form-control" placeholder="@Html.DisplayNameFor(model => model.City)" />
                                <label asp-for="City"></label>
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-4">
                                <input asp-for="State" class="form-control" placeholder="@Html.DisplayNameFor(model => model.State)" />
                                <label asp-for="State"></label>
                                <span asp-validation-for="State" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-4">
                                <input asp-for="Country" class="form-control" placeholder="@Html.DisplayNameFor(model => model.Country)" />
                                <label asp-for="Country"></label>
                                <span asp-validation-for="Country" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="p-3"></div>
                    <div class="row">
                        <div class="col">
                            <div class="form-floating mb-4">
                                <input asp-for="Password" class="form-control" placeholder="@Html.DisplayNameFor(model => model.Password)" />
                                <label asp-for="Password"></label>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating mb-4">
                                <input asp-for="ConfirmPassword" class="form-control" placeholder="@Html.DisplayNameFor(model => model.ConfirmPassword)" />
                                <label asp-for="ConfirmPassword"></label>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-floating mb-3">
                            <input class="btn btn-outline-success float-end" type="submit" value="Register" />
                            <a class="btn btn-outline-secondary" asp-controller="Product" asp-action="Index">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</section>

