@model IEnumerable<Product>

@{
    ViewData["Title"] = "List of all products";
}



<partial name="_Hero" />

<div class="product-index-section">
    <div class="row">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="images/hero.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="images/logo-white.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="images/hero.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-sm-3 ">
            <div class="col-12  p-2 mb-4 box-shadow">
                <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">

                    <img src="@product.ImgUrl" width="100%" />
                </a>
                <div class="">
                    <h6>@product.Brand.Name</h6>
                    <h5>@product.Model</h5>
                    <p>$ @product.Price</p>
                </div>
            </div>


        </div>
    }
</div>
</div>


<script type="text/javascript">
    $('.carousel').carousel({
        interval: 2000
    })
</script>