@model IEnumerable<Product>

@{
    ViewData["Title"] = "List of all products";
}

<div class="row">
    <div class="col-10 offset-md-1">
        <p>
            <h1>All Products</h1>
        </p>
        <div class="row">
            <table class="table">
                <thead>
                    <tr class="">
                        <th>@Html.DisplayNameFor(model => model.ImgUrl)</th>
                        <th>@Html.DisplayNameFor(model => model.BrandId)</th>
                        <th>@Html.DisplayNameFor(model => model.Model)</th>
                        <th>@Html.DisplayNameFor(model => model.Category)</th>
                        <th>Actions</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="align-middle">
                                <img class="" src="@item.ImgUrl" alt="@item.Model" style="max-width: 150px" />
                            </td>
                            <td class="align-middle">
                                @Html.DisplayFor(modelItem => item.Brand.Name)
                            </td>
                            <td class="align-middle">
                                @Html.DisplayFor(modelItem => item.Model)
                            </td>
                            <td class="align-middle">
                                @Html.DisplayFor(modelItem => item.Category)
                            </td>

                            <td class="align-middle">
                                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i>Edit</a> |
                                <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i>Details</a> |
                                <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i>Delete</a>
                            </td>

                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

